@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
.ibm-plex-sans-arabic-thin {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-arabic-extralight {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-arabic-light {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-arabic-regular {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-arabic-medium {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-arabic-semibold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-arabic-bold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(150deg, #0e2f59, #0c1726);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  justify-content: center;
  color: #fff;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@keyframes AnimationName {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}

.wrapper {
  height: 265px;
  max-width: 410px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 20px 15px 8px rgb(0 0 0 / 68%);
}

.wrapper.active {
  height: 530px;
}

header h1 {
  font-size: 23px;
  font-weight: 700;
  color: #033e8a;
}

header p {
  margin-top: 5px;
  color: #333;
  font-size: 20px;
}

.wrapper .form {
  margin: 20px 0 25px;
}

.form :where(input, button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}

.form input {
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
  color: #fff;
  background: #333;
}

.form input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form input::placeholder {
  color: #999;
}

.form button {
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  background: #033e8a;
  transition: background 0.3s ease, transform 0.2s ease;
}

.form button:hover {
  background: #012350;
}

.form button:active {
  transform: scale(0.95);
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #033e8a;
}



.wrapper.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  width: 170px;
}

@media (max-width: 430px) {
  .wrapper {
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active {
    height: 510px;
  }
  header p {
    color: #696969;
  }
  .form :where(input, button) {
    height: 52px;
  }
  .qr-code img {
    width: 160px;
  }
}